@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(120deg, #fff 0%, #eee 100%);
    --foreground: #0a0a0a;
    --bg-first-section: linear-gradient(90deg, #64D0EF 0%, #0050B0 76%);
  }
}

.bg-first-section {
  background: var(--bg-first-section);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
